# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS cache/config files
.DS_Store
desktop.ini

# Editor cache/config files
*.code-workspace

# Editor cache/config directories
.vs
.vscode

# Build directories
build
build-debug
out
